{% extends '@layout/default.html.twig' %}

{% block title %}About Us{% endblock %}

{% block content %}

	<div class="page-intro">
		<div class="container">
			<p class="welcome">ABOUT US</p>
			<h1>who we are</h1>
	        <p> HTTP messages are the foundation of web development. Web browsers and HTTP clients such as cURL create HTTP request messages that are sent to a web server, 
			which provides an HTTP response message. Server-side code receives an HTTP request message, and returns an HTTP response message.</p>
	    </div>
	    <div class="arrow_down">
	    	<div class="arrow_down_content">&nbsp;</div>
	    </div>
	</div>
	
	<div class="about-list">
	    <div class="container">
		    <div class="row">
		        <div class="col-md-4">
		            <h2>
		                <a href="https://zendframework.github.io/zend-expressive/getting-started/features/" target="_blank">
		                    agile &amp; lean
		                </a>
		            </h2>
		            <p>
		                Expressive is fast, small and perfect for rapid application development, prototyping and api's. You
		                decide how you
		                extend it and choose the best packages from major framework or standalone projects.
		            </p>
		        </div>
		
		        <div class="col-md-4">
		            <h2>
		                <a href="https://github.com/zendframework/zend-diactoros" target="_blank">
		                    http messages
		                </a>
		            </h2>
		            <p>
		                HTTP messages are the foundation of web development. Web browsers and HTTP clients such as cURL create
		                HTTP request messages that are sent to a web server, which provides an HTTP response message.
		                Server-side code receives an HTTP request message, and returns an HTTP response message.
		            </p>
		        </div>
		
		        <div class="col-md-4">
		            <h2>
		                <a href="https://github.com/zendframework/zend-stratigility" target="_blank">
		                    middleware
		                </a>
		            </h2>
		            <p>
		                Middleware is code that exists between the request and response, and which can take the incoming
		                request, perform actions based on it, and either complete the response or pass delegation on to the
		                next middleware in the queue. Your application is easily extended with custom middleware created by
		                yourself or <a href="https://packagist.org/search/?q=middleware" target="_blank">others</a>.
		            </p>
		        </div>
		    </div>
		</div>
	</div>

{% endblock %}
