{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block content %}

	<div class="page-intro home-intro">
		<div class="container">
			<p class="welcome">DotKernel is a collection of</p>
			<h1>PSR-7 Middleware applications</h1>
	        <p>built on top of Zend Expressive microframework. <br />It is composed of a set of custom and extended Zend Framework components.</p>
	    </div>
	    <div class="arrow_down">
	    	<div class="arrow_down_content">&nbsp;</div>
	    </div>
	</div>

	<div class="home-list">
		<div class="container">
			<div class="row" style="display: none;">
				<h2>DotKernel</h2>
				<div class="col-md-4">
					<a href="https://github.com/dotkernel/dot-annotated-services" target="_blank">dot-annotated-services</a> <br />
					<a href="https://github.com/dotkernel/dot-authentication" target="_blank">dot-authentication</a> <br />
					<a href="https://github.com/dotkernel/dot-authentication-service" target="_blank">dot-authentication-service</a><br />
					<a href="https://github.com/dotkernel/dot-authentication-web" target="_blank">dot-authentication-web</a><br />
					<a href="https://github.com/dotkernel/dot-authentication-web" target="_blank">dot-authentication-web</a><br />
					<a href="https://github.com/dotkernel/dot-authorization" target="_blank">dot-authorization</a><br />
					<a href="https://github.com/dotkernel/dot-cache" target="_blank">dot-cache</a><br />
					<a href="https://github.com/dotkernel/dot-controller" target="_blank">dot-controller</a><br />
					<a href="https://github.com/dotkernel/dot-controller-plugin-authentication" target="_blank">dot-controller-plugin-authentication</a><br />
					<a href="https://github.com/dotkernel/dot-controller-plugin-authorization" target="_blank">dot-controller-plugin-authorization</a>
				</div>
				<div class="col-md-4">
					<a href="https://github.com/dotkernel/dot-controller-plugin-flashmessenger" target="_blank">dot-controller-plugin-flashmessenger</a> <br />
					<a href="https://github.com/dotkernel/dot-controller-plugin-forms" target="_blank">dot-controller-plugin-forms</a> <br />
					<a href="https://github.com/dotkernel/dot-controller-plugin-mail" target="_blank">dot-controller-plugin-mail</a> <br />
					<a href="https://github.com/dotkernel/dot-controller-plugin-session" target="_blank">dot-controller-plugin-session</a> <br />
					<a href="" target="_blank"></a> <br />
					<a href="" target="_blank"></a> <br />
					<a href="" target="_blank"></a> <br />
					<a href="" target="_blank"></a> <br />
					<a href="" target="_blank"></a> <br />
					<a href="" target="_blank"></a>
				</div>
				<div class="col-md-4">
				</div>
			</div>
		    <div class="row">
		        <div class="col-md-4">
		            <h2>
		                <a href="https://zendframework.github.io/zend-expressive/getting-started/features/" target="_blank">
		                    agile &amp; lean
		                </a>
		            </h2>
		            <p>
		                Expressive is fast, small and perfect for rapid application development, prototyping and api's. You
		                decide how you
		                extend it and choose the best packages from major framework or standalone projects.
		            </p>
		        </div>
		
		        <div class="col-md-4">
		            <h2>
		                <a href="https://github.com/zendframework/zend-diactoros" target="_blank">
		                    http messages
		                </a>
		            </h2>
		            <p>
		                HTTP messages are the foundation of web development. Web browsers and HTTP clients such as cURL create
		                HTTP request messages that are sent to a web server, which provides an HTTP response message.
		                Server-side code receives an HTTP request message, and returns an HTTP response message.
		            </p>
		        </div>
		
		        <div class="col-md-4">
		            <h2>
		                <a href="https://github.com/zendframework/zend-stratigility" target="_blank">
		                    middleware
		                </a>
		            </h2>
		            <p>
		                Middleware is code that exists between the request and response, and which can take the incoming
		                request, perform actions based on it, and either complete the response or pass delegation on to the
		                next middleware in the queue. Your application is easily extended with custom middleware created by
		                yourself or <a href="https://packagist.org/search/?q=middleware" target="_blank">others</a>.
		            </p>
		        </div>
		    </div>
		
		    <div class="row">
		        <div class="col-md-4">
		            <h2>
		                <a href="https://zendframework.github.io/zend-expressive/features/container/intro/" target="_blank">
		                   containers
		                </a>
		            </h2>
		            <p>
		                Expressive promotes and advocates the usage of Dependency Injection/Inversion of Control containers
		                when writing your applications. Expressive supports multiple containers which typehints against
		                <a href="https://github.com/container-interop/container-interop" target="_blank">container-interop</a>.
		            </p>
		        </div>
		
		        <div class="col-md-4">
		            <h2>
		                <a href="https://zendframework.github.io/zend-expressive/features/router/intro/" target="_blank">
		                    routers
		                </a>
		            </h2>
		            <p>
		                One fundamental feature of zend-expressive is that it provides mechanisms for implementing dynamic
		                routing, a feature required in most modern web applications. Expressive ships with multiple adapters.
		            </p>
		            {% if routerName is defined %}
		                <p>
		                	Get started with
		                    <a href="{{ routerDocs }}" target="_blank">
		                         {{ routerName }}
		                    </a>
		                    .
		                </p>
		            {% endif %}
		        </div>
		
		        <div class="col-md-4">
		            <h2>
		                <a href="https://zendframework.github.io/zend-expressive/features/template/twig/" target="_blank">
		                    templating
		                </a>
		            </h2>
		            <p>
		                By default, no middleware in Expressive is templated. We do not even provide a default templating
		                engine, as the choice of templating engine is often very specific to the project and/or organization.
		                However, Expressive does provide abstraction for templating, which allows you to write middleware that
		                is engine-agnostic.
		            </p>
		            {% if templateName is defined %}
		                <p>
		                	Get started with 
		                    <a href="{{ templateDocs }}" target="_blank">
		                       {{ templateName }}
		                    </a>
		                    .
		                </p>
		            {% endif %}
		        </div>
		    </div>
		</div>
	</div>
	
{% endblock %}
