{% extends '@layout/default.html.twig' %}

{% block title %}Thank You!{% endblock %}

{% block page_title %}Thank You!{% endblock %}

{% block content %}
    <p>
        Not implemented!
    </p>

{% endblock %}
