{% extends '@layout/default.html.twig' %}

{% block title %}Thank You{% endblock %}
{% block page_title %}{% endblock %}

{% block body_class %}user-form{% endblock %}

{% block content %}
<div class="page-intro home-intro">
    <div class="container">
        <h1>Thank you for contacting us!</h1>
    </div>
</div>
{% endblock %}