{% extends '@layout/default.html.twig' %}

{% block title %}403 Forbidden{% endblock %}

{% block content %}
    <div class="page-intro home-intro">
        <div class="container">
            <h1>You don't have enough permissions to access the requested content!</h1>
            <h2>Oops!</h2>
            <p>This is awkward.</p>
            <p>
                You are looking for something that doesn't exist or may have moved. Check out one of the links on this page
                or head back to <a href="{{ path('home') }}">Home</a>.
            </p>
        </div>
    </div>
{% endblock %}
