{% extends '@layout/default.html.twig' %}

{% block title %}404 Not Found{% endblock %}

{% block content %}
    <div class="page-intro">
        <div class="container">
            <p class="welcome">Oops!</p>
            <h1>This is awkward.</h1>
            <p><b>We encountered a 404 Not Found error.</b></p>
            <p>
                You are looking for something that doesn't exist or may have been moved. Check out the menu links or
                head back to <a href="{{ path('home') }}">Home</a>.
            </p>
        </div>
    </div>
{% endblock %}
