{% extends '@layout/default.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 no-padding forms">
                <h1>Forgot password</h1>
                <div class="form-content">
                    {{ messagesPartial('partial::alerts', {}, null, 'forgot-password') }}

                    <p><b>Enter your account e-mail address</b></p>
                    {% include '@dot-user-form/forgot-password.html.twig' %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}
