{% extends '@layout/default.html.twig' %}

{% block title %}Reset Password{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 no-padding forms">
                <h1>Reset Account Password</h1>
                <div class="form-content">
                    {{ messagesPartial('partial::alerts', {}, null, 'reset-password') }}

                    {% include '@dot-user-form/reset-password.html.twig' %}
                </div>
            </div>

        </div>

    </div>

{% endblock %}
