.about-list {
    padding-top: 70px;
    padding-bottom: 70px;
    background: #FFFFFF;
    text-align: center;
}

.about-list .col-md-4 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.about-list h2 a {
    font-size: 42px;
    color: #2C2C2C;
    font-family: $headingFontFamily;
    font-weight: 200;
}

@media ( max-width: 1199px) {
    .about-list h2 a {
        font-size: 36px;
    }
}
