/***** General *****/
/* The html and body elements cannot have any padding or margin. */
html,
body {
    height: 100%;
}

body {
    font-family: $defaultFontFamily;
    font-size: $defaultFontSize;
    line-height: 1.3em;
    font-weight: 300;
}

/* Wrapper for page content to push down footer */
#wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 0 auto -$footerHeight;
    background: $defaultBackground;
}
