.btn-primary {
    height: 50px;
    border-radius: 2px;
    background: #C60B31;
    border-color: #C60B31;
    color: #FFFFFF;
}

.btn-primary:hover,
.btn-primary:active,
.btn-primary:focus {
    background: #333333;
}
