.btn-primary {
    height: 50px;
    border-radius: 2px;
    background: $primaryColor;
    border-color: darken($primaryColor, 5%);
    color: #FFFFFF;

    &:hover,
    &:active,
    &:focus{
        background: #333333;
    }
}
