/* Set the fixed height of the footer here */
#push,
#footer {
    height: $footerHeight;
}

/***** Footer *****/
.app-footer {
    padding: 30px 50px;
    background: #F9F9F9;
    p {
        margin-bottom: 0px;
        font-size: $defaultFontSize;
    }
    .enjoy {
        margin-bottom: 10px;
        font-size: 26px;
        color: #3B3B3B;
        font-family: $headingFontFamily;
        font-weight: 200;
    }
}

@media (max-width: 768px) {
    .app-footer {
        padding: 30px 30px;
    }
}

