.forms {
    padding: 80px 15px;
}

.forms h1 {
    margin-bottom: 40px;
    margin-top: 0px;
    font-size: 30px;
    font-weight: 400;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 4px;
}

.forms .no-account {
    margin-top: 15px;
    color: #929292;
}

.form-content {
    padding: 40px;
    background: #FFFFFF;
}

.form-content a {
    display: block;
    width: auto;
    margin-top: 15px;
    color: #999CA5;
}

.form-content .btn {
    margin-top: 15px;
}

#userMessage_textarea {
    resize: vertical;
}

@media ( max-width: 1199px) {
    .form-content {
        padding: 20px;
    }

    .form-content h1 {
        margin-bottom: 20px;
    }
}
