/** Home page **/
.home-intro p.welcome {
    font-size: 26px;
}

.home-intro h1 {
    font-size: 80px;
}

.home-intro .arrow_down {
    position: absolute;
    bottom: -102px;
    left: 0px;
    width: 100%;
    overflow: hidden;
    text-align: center;
}

.home-intro .arrow_down .arrow_down_content {
    margin: 0px auto;
    background: url("../img/arrow_center.png") no-repeat center center;
    width: 654px;
    height: 103px;
}

@media ( max-width: 991px) {
    .home-intro h1 {
        font-size: 60px;
    }
}

@media ( max-width: 768px) {
    .home-intro h1 {
        font-size: 34px;
    }

    .home-intro .arrow_down .arrow_down_content {
        width: 100%;
    }
}

.home-list {
    padding-top: 150px;
    padding-bottom: 70px;
    background: #FFFFFF;
    text-align: center;
}

.home-list .col-md-4 {
    padding-bottom: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.home-list h2 {
    margin-top: 50px;
}

.home-list h2,
.home-list h2 a {
    font-size: 42px;
    color: #2C2C2C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.home-list h3 a {
    font-size: 30px;
    color: #2C2C2C;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
}

.home-list .panel-group {
    margin-top: 30px;
    text-align: left;
}

.home-list .panel-default {
    border-color: transparent;
    box-shadow: none;
}

.home-list .panel-group .panel + .panel {
    margin-top: 0px;
}

.home-list .panel-group .panel {
    border-radius: 0px;
    border-bottom: 1px solid #B8B8B8;
}

.home-list .panel-heading {
    padding: 15px;
    border-radius: 0px;
    background-color: transparent;
}

.home-list .panel-heading h4 a {
    text-decoration: none;
    color: #555ec4;
    font-size: 26px;
}

.home-list .panel-heading h4 a.open {
    padding-left: 30px;
    background: url("../img/open.png") no-repeat left center;
}

.home-list .panel-heading h4 a.closed {
    padding-left: 30px;
    background: url("../img/close.png") no-repeat left center;
}

.home-list .panel-heading h4 a:hover {
    color: #000000;
}

.home-list .panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: transparent;
}

.home-list .panel-body ul {
    padding-left: 20px;
    margin: 0px;
}

.home-list .panel-body ul li {
    line-height: 1.3em;
}

@media ( max-width: 1199px) {
    .home-list h2,
    .home-list h2 a {
        font-size: 36px;
    }
}

@media ( max-width: 767px) {
    .home-list h3 a {
        font-size: 26px;
    }

    .home-list .panel-heading h4 a {
        font-size: 20px;
        line-height: 1.3em;
    }
}
