label {
    color: #B1B1B1;
}

input.form-control {
    padding: 15px 15px;
    background: #FFFFFF;
    border-radius: 2px;
    border: 1px solid #E7E7E7;
    font-size: $defaultFontSize;
    line-height: 50px;
    height: 50px;
}

textarea{
    resize: vertical;
}
