.navbar {
    margin-bottom: 0;
    border-radius: 0;
    background-color: #FFFFFF;
    border: 0;
    border-bottom: 1px solid #F6F6F6;
}

.navbar-header {
    position: relative;
    z-index: 15;
}

.navbar-brand {
    height: auto;

    img {
        display: block;
        width: 170px;
        height: 29px;
    }
}

.navbar-inverse {
    .navbar-nav {
        > li > a {
            color: #515151;
            font-family: $headingFontFamily;
            font-weight: 400;
            text-transform: uppercase;
            font-size: $defaultFontSize;
            letter-spacing: 2px;

            &.user-menu-icon {
                padding: 0;
                background: url("../images/user.png") no-repeat center center;
                background-size: 40px 40px;
                width: 40px;
                height: 40px;
                font-size: 0;
                color: transparent;
                text-decoration: none;

                .caret {
                    display: none;
                }

                &:hover {
                    text-decoration: none;
                }
            }

            &:hover,
            &:focus {
                color: #000000;
            }
        }

        > .active {
            > a,
            > a:focus,
            > a:hover {
                color: #000000;
                background-color: transparent;
            }
        }

        .open {
            > a,
            > a:focus,
            > a:hover {
                color: #000000;
                background-color: transparent;
            }

            .dropdown-menu {
                .divider {
                    background-color: #F6F6F6;
                }
                .dropdown-header,
                > li a {
                    padding-left: 15px;
                }

                li {
                    a:focus,
                    a:hover {
                        color: #000000;
                    }
                }

                > .active {
                    > a,
                    > a:focus,
                    > a:hover {
                        color: #000000;
                        background: transparent;
                    }
                }
            }
        }
    }

    .navbar-collapse,
    .navbar-form {
        border-color: #F6F6F6;
    }

    .navbar-toggle {
        margin-top: 20px;
        padding: 0;
        background: transparent;
        border-color: transparent;

        .icon-bar {
            background-color: #333333;
            height: 4px;
            width: 30px;
        }

        &:focus,
        &:hover {
            background: transparent;

            .icon-bar {
                background-color: #BD1F3F;
            }
        }
    }
}

.navbar {
    .navbar-collapse {
        position: relative;
        text-align: center;
    }

    .navbar-center {
        position: relative;
        display: block;
        float: none;
        margin-left: -185px;
        width: 100%;
        padding-top: 5px;
        text-align: center;
        z-index: 10;

        > li {
            display: inline-block;
            float: none;
            padding-left: 10px;
            padding-right: 10px;

            a {
                i {
                    display: none;
                }

                .caret {
                    color: #CCCCCC;
                    border-top: 6px dashed;
                    border-top: 6px solid \9
                ;
                    border-right: 6px solid transparent;
                    border-left: 6px solid transparent;
                }
            }
        }
    }

    .navbar-right {
        position: absolute;
        top: 10px;
        right: 15px;

        .user-login a {
            padding: 0;
        }
    }
}

@media (max-width: 991px) {
    .navbar .navbar-center {
        float: left;
        margin-left: 0;
        width: auto;
        padding-top: 9px;
        text-align: center;

        > li {
            padding-left: 0;
            padding-right: 0;

            a {
                padding-left: 10px;
                padding-right: 10px;
            }
        }
    }
}

@media (max-width: 767px) {
    .navbar {
        .navbar-center {

            width: 100%;
            text-align: left;

            > li {
                display: block;
                float: left;
                width: 100%;

                > a {
                    padding-left: 0;
                    padding-right: 0;
                }
            }
        }

        .navbar-right {
            position: static;
            float: left;
            width: 100%;
            text-align: left;
            margin-left: 0;
        }
    }

    .navbar-inverse .navbar-nav > li > a.user-menu-icon {
        padding-top: 10px;
        padding-bottom: 10px;
        background: transparent;
        font-size: 16px;
        color: #515151;
        width: auto;
        height: auto;

        .caret {
            display: inline-block;
            color: #CCCCCC;
            border-top: 6px dashed;
            border-top: 6px solid \9
        ;
            border-right: 6px solid transparent;
            border-left: 6px solid transparent;
        }
    }
}
