h1 {
    font-size: $defaultFontSize*5;
    font-family: $headingFontFamily;
    font-weight: 200;
    color: #2C2C2C;
}

h2 {
    font-size: $defaultFontSize*3;
    font-family: $headingFontFamily;
    font-weight: 200;
    color: #2C2C2C;
}

h3 {
    font-size: $defaultFontSize*2;
    font-family: $headingFontFamily;
    font-weight: 200;
    color: #2C2C2C;
}

h4 {
    font-size: $defaultFontSize*1.5;
    font-family: $headingFontFamily;
    font-weight: 200;
    color: #2C2C2C;
}

a {
    color: #555ec4;
    font-family: $defaultFontFamily;
    font-weight: 300;

    &:hover {
        color: #C60B31;
    }
}

p {
    color: #B1B1B1;
    font-family: $defaultFontFamily;
    font-weight: 300;
}
