h1 {
    font-size: 80px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #2C2C2C;
}

h2 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #2C2C2C;
}

h3 {
    font-size: 32px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #2C2C2C;
}

h4 {
    font-size: 24px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    color: #2C2C2C;
}

a {
    color: #555ec4;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}

a:hover {
    color: #C60B31;
}

p {
    color: #B1B1B1;
    font-family: 'Source Sans Pro', sans-serif;
    font-weight: 300;
}
