/***** Colours *****/
// Body
$defaultBackground: #F5F5F5;

$primaryColor: #C60B31;


/***** Fonts *****/
// Default
$defaultFontFamily: 'Source Sans Pro', sans-serif;
$defaultFontSize: 16px;
// Heading
$headingFontFamily: 'Montserrat', sans-serif;


/***** Footer *****/
$footerHeight: 115px;
