{% extends '@layout/default.html.twig' %}

{% block title %}Thank You!{% endblock %}

{% block content %}

    <div class="page-intro">
		<div class="container">
			<p class="welcome">Thank You</p>
			<h1>not implemented</h1>
	    </div>
	</div>

{% endblock %}