{% extends '@layout/default.html.twig' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 no-padding forms">
                <h1 class="page-header">Thank you!</h1>
                <div class="info-content">
                    <p>
                        You message was successfully sent. <br />We will get in touch with you as soon as possible.
                    </p>
                    <p>
                        <a href="{{ path('home') }}">Go to Home page</a>
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
