{% set classes = {'error': 'danger', 'info': 'info', 'warning': 'warning', 'success' : 'success'} %}

{% if messages is defined and messages is iterable %}
    {% for namespace in messages|keys %}
        {% if classes[namespace] is defined %}
            <div class="alert alert-{{ classes[namespace] }}" role="alert">
                <ul>
                    {% for message in messages[namespace] %}
                        <li>{{ message }}</li>
                    {% endfor %}
                </ul>
            </div>
        {% endif %}
    {% endfor %}
{% endif %}