{% extends '@layout/default.html.twig' %}

{% block side_panel %}
    <div class="col-md-3">
        {{ navigationPartial('account_side_menu', 'partial::account-sidemenu') }}
    </div>
{% endblock %}

