{% extends '@layout/default.html.twig' %}

{% block title %}Change password{% endblock %}

{% block side_panel %}
    <div class="col-md-3">
        {{ navigationPartial('account_side_menu', 'partial::account-sidemenu') }}
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">

                <h2 class="page-header">Change your password</h2>

                {{ flashMessagesPartial('partial::alerts') }}

                {% set dummy = form.setAttribute('method', 'post') %}
                {% set dummy = form.prepare() %}

                {{ form().openTag(form) | raw }}
                {% include '@dot-user/_form.html.twig' with {'form' : form, 'showLabels': true} only %}
                {{ form().closeTag() | raw }}

            </div>
        </div>
    </div>

{% endblock %}