{% extends '@layout/default.html.twig' %}

{% block title %}Change Email{% endblock %}

{% block side_panel %}
    <div class="col-md-3">
        {{ navigationPartial('account_side_menu', 'partial::account-sidemenu') }}
    </div>
{% endblock %}

{% block content %}
    <div class="col-md-9">
        <div class="row">
            <div class="col-md-8 col-md-offset-1">
                <h2 class="page-header">Change your email address</h2>

                {{ flashMessagesPartial('partial::alerts') }}

            </div>
        </div>
    </div>
{% endblock %}