{% extends '@layout/default.html.twig' %}

{% block title %}Forgot Password{% endblock %}

{% block page_title %}Recover your password{% endblock %}

{% block content %}
    {{ messagesPartial('partial::alerts', {}, null, 'forgot-password') }}

    <p><b>Enter your account e-mail address</b></p>
    {% include '@dot-user-form/forgot-password.html.twig' %}

{% endblock %}
