{% extends '@layout/sidemenu.html.twig' %}

{% block title %}Remove Account{% endblock %}

{% block content %}
    <h2 class="page-header">Are you sure you want to remove your account?</h2>
    <p style="color: red">You will not be able to access your account after removal, and any data associated with your
        account will be removed</p>

    {{ flashMessagesPartial('partial::alerts') }}
{% endblock %}
