<?php

return [

    /**
     * Dotkernel mail module configuration
     * Note that many of these options can be set programmatically too, when sending mail messages
     * actually that is what you'll usually do, these config provide just default and options that remain the same for all mails
     */

    'dot_mail' => [
        //the key is the mail service name, this is the default one, which does not extends any configuration
        'default' => [
            //tells which other mail service configuration to extend
            'extends' => null,

            /**
             * the mail transport to use
             * can be any class implementing Symfony\Component\Mailer\Transport\TransportInterface
             *
             * for standard mail transports, you can use these aliases
             * - sendmail => Symfony\Component\Mailer\Transport\SendmailTransport
             * - smtp     => Symfony\Component\Mailer\Transport\Smtp\SmtpTransport
             *
             * defaults to sendmail
             **/

            'transport' => Symfony\Component\Mailer\Transport\SendmailTransport::class,

            //message configuration
            'message_options' => [

                //from email address of the email
                'from' => '',

                //from name to be displayed instead of from address
                'from_name' => '',

                //reply-to email address of the email
                'reply_to' => '',

                //replyTo name to be displayed instead of the address
                'reply_to_name' => '',

                //destination email address as string or a list of email addresses
                'to' => [],

                //copy destination addresses
                'cc' => [],

                //hidden copy destination addresses
                'bcc' => [],

                //email subject
                'subject' => '',

                //body options - content can be plain text, HTML
                'body' => [
                    'content' => '',

                    'charset' => 'utf-8',
                ],

                //attachments config
                'attachments' => [
                    'files' => [],

                    'dir' => [
                        'iterate' => false,
                        'path' => 'data/mail/attachments',
                        'recursive' => false,
                    ]
                ],
            ],

            //options that will be used only if Symfony\Component\Mailer\Transport\Smtp\SmtpTransport adapter is used
            'smtp_options' => [

                //hostname or IP address of the mail server
                'host' => '',

                //port of the mail server - 587 or 465 for secure connections
                'port' => 587,

                //connection class used for authentication
                //the value can be one of smtp, plain, login or crammd5
                'connection_class' => 'login',

                'connection_config' => [

                    //the smtp authentication identity
                    //'username' => '',

                    //the smtp authentication credential
                    //'password' => '',

                    //the encryption type to be used, ssl or tls
                    //null should be used to disable SSL
                    'ssl' => 'tls',
                ]
            ],
        ],
        // option to log the SENT emails
        'log' => [
          'sent' => getcwd() . '/log/mail/sent.log'
        ],

        /**
         * You can define other mail services here, with the same structure as the default block
         * you can even extend from the default block, and overwrite only the differences
         */
    ],
];
