{% extends '@layout/default.html.twig' %}

{% block title %}Home{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
    <div class="page-intro home-intro">
        <div class="container">
            <p class="welcome">DotKernel is a collection of</p>
            <h1>PSR-7 Middleware applications</h1>
            <p>Built on top of the Laminas microframework. <br/>Ccomposed of a set of custom and extended Laminas components.</p>
        </div>
        <div class="arrow_down">
            <div class="arrow_down_content">&nbsp;</div>
        </div>
    </div>

    <div class="home-list">
        <div class="container">
            <h2><a href="https://docs.mezzio.dev/mezzio/" target="_blank">Laminas</a></h2>
            <div class="row">
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>
                                <a href="https://github.com/php-fig/container" target="_blank">
                                    containers
                                </a>
                            </h3>
                            <p>
                                DotKernel is built around the PSR-11 dependency container.
                                We have chosen <b>Laminas Service Manager</b> as our default implementation.
                            </p>
                            <p>
                                Get Started with <a href="https://github.com/laminas/laminas-servicemanager"
                                                    target="_blank">Laminas Service Manager</a>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h3>
                                <a href="https://github.com/twigphp/Twig" target="_blank">
                                    templating
                                </a>
                            </h3>
                            <p>
                                By default, no middleware in Laminas is templated.
                                For DotKernel's Frontend application, we have chosen <b>Twig</b>
                                as the default templating engine.
                            </p>
                            <p>
                                Get started with <a href="https://twig.symfony.com/doc/3.x/"
                                                    target="_blank">Twig</a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="row">
                        <div class="col-sm-6">
                            <h3>
                                <a href="https://github.com/nikic/FastRoute" target="_blank">
                                    routers
                                </a>
                            </h3>
                            <p>
                                Among the various routing implementations compatible with Expressive, we have chosen <b>FastRoute</b>
                                as DotKernel's default routing library.
                            </p>
                            <p>
                                Get started with <a href="https://github.com/nikic/FastRoute"
                                                    target="_blank">FastRoute</a>
                            </p>
                        </div>
                        <div class="col-sm-6">
                            <h3>
                                <a href="https://github.com/laminas/laminas-diactoros" target="_blank">
                                    http messages
                                </a>
                            </h3>
                            <p>
                                Laminas, and consequently DotKernel, is built around the PSR-7 standard. It uses <b>Laminas
                                    Diactoros</b> as the PSR-7 implementation.
                            </p>
                            <p>
                                Get started with <a href="https://github.com/php-fig/http-message"
                                                    target="_blank">PSR-7</a> and <a
                                        href="https://github.com/laminas/laminas-diactoros"
                                        target="_blank">Diactoros</a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <h2>DotKernel components</h2>
                <div class="col-md-12">
                    <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                                <h4 class="panel-title">
                                    <a class="collapsed open" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseTwo" aria-expanded="false"
                                       aria-controls="collapseTwo">
                                        Authorization
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <a href="https://github.com/dotkernel/dot-authorization" target="_blank">dot-authorization</a>:
                                            core authorization interfaces
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFour">
                                <h4 class="panel-title">
                                    <a class="collapsed open" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseFour" aria-expanded="false"
                                       aria-controls="collapseFour">
                                        Forms
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFour" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFour">
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <a href="https://github.com/dotkernel/dot-form"
                                               target="_blank">dot-form</a>
                                            (<a href="https://docs.laminas.dev/laminas-form/" target="_blank">laminas-form</a>)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingFive">
                                <h4 class="panel-title">
                                    <a class="collapsed open" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseFive" aria-expanded="false"
                                       aria-controls="collapseFive">
                                        Session
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseFive" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingFive">
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <a href="https://github.com/dotkernel/dot-session" target="_blank">dot-session</a>
                                            (<a href="https://docs.laminas.dev/laminas-session/" target="_blank">laminas-session</a>)
                                        </li>
                                        <li>
                                            <a href="https://github.com/dotkernel/dot-flashmessenger" target="_blank">dot-flashmessenger</a>:
                                            short-lived session messages
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingSix">
                                <h4 class="panel-title">
                                    <a class="collapsed open" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseSix" aria-expanded="false"
                                       aria-controls="collapseSix">
                                        Mailing
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseSix" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingSix">
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <a href="https://github.com/dotkernel/dot-mail" target="_blank">dot-mail</a>
                                            (<a href="https://docs.laminas.dev/laminas-mail/" target="_blank">laminas-mail</a>)
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingEight">
                                <h4 class="panel-title">
                                    <a class="collapsed open" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseEight" aria-expanded="false"
                                       aria-controls="collapseEight">
                                        Navigation
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseEight" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingEight">
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <a href="https://github.com/dotkernel/dot-navigation" target="_blank">dot-navigation</a>:
                                            easy menu configuration and parsing
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingNine">
                                <h4 class="panel-title">
                                    <a class="collapsed open" role="button" data-toggle="collapse"
                                       data-parent="#accordion" href="#collapseNine" aria-expanded="false"
                                       aria-controls="collapseNine">
                                        Others
                                    </a>
                                </h4>
                            </div>
                            <div id="collapseNine" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingNine">
                                <div class="panel-body">
                                    <ul>
                                        <li>
                                            <a href="https://github.com/dotkernel/dot-log" target="_blank">dot-log</a>
                                            (<a href="https://docs.laminas.dev/laminas-log/"
                                                target="_blank">laminas-log</a>)
                                        </li>
                                        <li>
                                            <a href="https://github.com/dotkernel/dot-errorhandler" target="_blank">dot-errorhandler</a>
                                        </li>
                                        <li>
                                            <a href="https://github.com/dotkernel/dot-annotated-services"
                                               target="_blank">dot-annotated-services</a>: creates and injects services
                                            with dependencies through annotations
                                        </li>
                                        <li>
                                            <a href="https://github.com/dotkernel/dot-event"
                                               target="_blank">dot-event</a>
                                            (<a href="https://docs.laminas.dev/laminas-eventmanager/"
                                                target="_blank">laminas-eventmanager</a>)
                                        </li>
                                        <li>
                                            <a href="https://github.com/dotkernel/dot-helpers" target="_blank">dot-helpers</a>
                                            (<a href="https://docs.mezzio.dev/mezzio/v3/features/helpers/intro/"
                                                target="_blank">mezzio/mezzio-helpers</a>)
                                        </li>
                                        <li>
                                            <a href="https://github.com/dotkernel/dot-twigrenderer" target="_blank">dot-twigrenderer</a>:
                                            extends the twig renderer with useful extensions and customizations
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
