{% extends '@layout/default.html.twig' %}

{% block title %}Who We Are{% endblock %}

{% block page_title %}{% endblock %}

{% block content %}
    <div class="page-intro">
        <div class="container">
            <p class="welcome">WHO WE ARE</p>
            <h1>demo page</h1>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                dolore magna aliqua.
                Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat.</p>
        </div>
    </div>

    <div class="about-list">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-12">
                    <h2>
                        <a href="https://docs.mezzio.dev/mezzio/"
                           target="_blank">
                            heading
                        </a>
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                </div>

                <div class="col-lg-4 col-md-12">
                    <h2>
                        <a href="https://github.com/laminas/laminas-diactoros" target="_blank">
                            heading
                        </a>
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                </div>

                <div class="col-lg-4 col-md-12">
                    <h2>
                        <a href="https://github.com/laminas/laminas-stratigility" target="_blank">
                            heading
                        </a>
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
                        labore et dolore magna aliqua.
                        Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                        consequat.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
